{
  "openapi": "3.1.0",
  "info": {
    "title": "API",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://app.vwo.com/api/v2"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "token"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/accounts/{account_id}/users/{user_id}": {
      "delete": {
        "summary": "Delete users",
        "description": "",
        "operationId": "delete-user-of-current--sub-account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Get user details",
        "description": "",
        "operationId": "get-specific-user-of-current--sub-account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"_data\": {\n    \"id\": 874,\n    \"name\": \"Test User\",\n    \"email\": \"test-account@wingify.com\",\n    \"createdOn\": 1269942600,\n    \"permission\": \"Admin\",\n    \"phone\": \"FALSE\",\n    \"country\": \"\",\n    \"department\": \"\",\n    \"title\": \"\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 874,
                          "default": 0
                        },
                        "name": {
                          "type": "string",
                          "example": "Test User"
                        },
                        "email": {
                          "type": "string",
                          "example": "test-account@wingify.com"
                        },
                        "createdOn": {
                          "type": "integer",
                          "example": 1269942600,
                          "default": 0
                        },
                        "permission": {
                          "type": "string",
                          "example": "Admin"
                        },
                        "phone": {
                          "type": "string",
                          "example": "FALSE"
                        },
                        "country": {
                          "type": "string",
                          "example": ""
                        },
                        "department": {
                          "type": "string",
                          "example": ""
                        },
                        "title": {
                          "type": "string",
                          "example": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "summary": "Update user details",
        "description": "",
        "operationId": "update-user-of-current--sub-account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "User Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of User"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Contact number of User"
                  },
                  "country": {
                    "type": "string",
                    "description": "Country of User"
                  },
                  "department": {
                    "type": "string",
                    "description": "Work department of User"
                  },
                  "title": {
                    "type": "string",
                    "description": "Designation of User"
                  },
                  "permission": {
                    "type": "string",
                    "description": "Select the permission of user among \"Browse\",\"Design\",\"Publish\",\"Admin\""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"_data\": {\n    \"id\": 874,\n    \"name\": \"Test User\",\n    \"email\": \"test-account@wingify.com\",\n    \"createdOn\": 1269942600,\n    \"permission\": \"Admin\",\n    \"phone\": \"FALSE\",\n    \"country\": \"\",\n    \"department\": \"\",\n    \"title\": \"\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 874,
                          "default": 0
                        },
                        "name": {
                          "type": "string",
                          "example": "Test User"
                        },
                        "email": {
                          "type": "string",
                          "example": "test-account@wingify.com"
                        },
                        "createdOn": {
                          "type": "integer",
                          "example": 1269942600,
                          "default": 0
                        },
                        "permission": {
                          "type": "string",
                          "example": "Admin"
                        },
                        "phone": {
                          "type": "string",
                          "example": "FALSE"
                        },
                        "country": {
                          "type": "string",
                          "example": ""
                        },
                        "department": {
                          "type": "string",
                          "example": ""
                        },
                        "title": {
                          "type": "string",
                          "example": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/accounts": {
      "get": {
        "summary": "Retrieve all workspaces",
        "description": "",
        "operationId": "get-all-sub-accounts",
        "parameters": [
          {
            "name": "includeCurrent",
            "in": "query",
            "description": "Use 'true' to include the currently authenticated workspace in the response. By default, only secondary workspaces are returned.",
            "schema": {
              "type": "string",
              "default": "false"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Use 'active' to return only active workspace. Use 'disabled' to return only disabled workspace. By default, all workspaces are returned.",
            "schema": {
              "type": "string",
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"_data\": [\n    {\n      \"id\": 916,\n      \"name\": \"New account\",\n      \"createdOn\": 1271158169,\n      \"enabled\": true\n    },\n    {\n      \"id\": 874,\n      \"name\": \"Test Account\",\n      \"createdOn\": 1269942600,\n      \"enabled\": true\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 916,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "New account"
                          },
                          "createdOn": {
                            "type": "integer",
                            "example": 1271158169,
                            "default": 0
                          },
                          "enabled": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://app.vwo.com/api/v2/accounts?includeCurrent=false&status=all\"\n\nheaders = {\n    'token': \"96ca71826128162811321nnjadsdjnsadkf33c4c03660a2398abd93f60c74ef1b442a434\",\n    'cache-control': \"no-cache\"\n    }\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)"
            }
          ],
          "samples-languages": [
            "python"
          ]
        }
      },
      "post": {
        "summary": "Create a workspace",
        "description": "",
        "operationId": "create-sub-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Workspace name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"_data\": {\n    \"id\": 40506,\n    \"name\": \"API Sub Account Name\",\n    \"createdOn\": 1415966384,\n    \"timezone\": \"GMT\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 40506,
                          "default": 0
                        },
                        "name": {
                          "type": "string",
                          "example": "API Sub Account Name"
                        },
                        "createdOn": {
                          "type": "integer",
                          "example": 1415966384,
                          "default": 0
                        },
                        "timezone": {
                          "type": "string",
                          "example": "GMT"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/accounts/{account_id}/campaigns/{campaign_id}/share": {
      "get": {
        "summary": "Get share link for a specific campaign",
        "description": "",
        "operationId": "get-share-link-for-a-specific-campaign",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          },
          {
            "name": "campaign_id",
            "in": "path",
            "description": "Campaign Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"_data\": {\n        \"shareLink\": \"https://app.vwo.com/#/campaign/1/summary?token=eyJhY2NvdW50X2lkIjoxOTI2ODMsImV4cGVyaW1lbdRfaWQiOjEsImNyZWF0ZWqfb24iOjE0NDI0ODAyMTIsInR5cGUiOiJjYW1wYWlnbiIsInZlcnNpb24iOjEshjdjhasgdjhasgdh3NThhNzFmNzYyM2IzZTllYWQ5ZGI3MjZmZCJ9\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "object",
                      "properties": {
                        "shareLink": {
                          "type": "string",
                          "example": "https://app.vwo.com/#/campaign/1/summary?token=eyJhY2NvdW50X2lkIjoxOTI2ODMsImV4cGVyaW1lbdRfaWQiOjEsImNyZWF0ZWqfb24iOjE0NDI0ODAyMTIsInR5cGUiOiJjYW1wYWlnbiIsInZlcnNpb24iOjEshjdjhasgdjhasgdh3NThhNzFmNzYyM2IzZTllYWQ5ZGI3MjZmZCJ9"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/accounts/{account_id}/drafts": {
      "get": {
        "summary": "Get all drafts campaigns",
        "description": "",
        "operationId": "get-drafts-of-current--sub-account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"_data\": [\n    {\n      \"draftId\": 14597,\n      \"type\": \"ab\",\n      \"status\": \"draft\",\n      \"platform\": \"website\",\n      \"createdOn\": 1412649106,\n      \"currentDraftStepIndex\": 2,\n      \"name\": \"Campaign 142\",\n      \"urls\": [\n        {\n          \"value\": \"http:\\/\\/wingify.com\"\n        }\n      ],\n      \"createdBy\": {\n        \"id\": 1,\n        \"name\": \"Backend Testing\"\n      }\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "draftId": {
                            "type": "integer",
                            "example": 14597,
                            "default": 0
                          },
                          "type": {
                            "type": "string",
                            "example": "ab"
                          },
                          "status": {
                            "type": "string",
                            "example": "draft"
                          },
                          "platform": {
                            "type": "string",
                            "example": "website"
                          },
                          "createdOn": {
                            "type": "integer",
                            "example": 1412649106,
                            "default": 0
                          },
                          "currentDraftStepIndex": {
                            "type": "integer",
                            "example": 2,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "Campaign 142"
                          },
                          "urls": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string",
                                  "example": "http://wingify.com"
                                }
                              }
                            }
                          },
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "name": {
                                "type": "string",
                                "example": "Backend Testing"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create a draft",
        "description": "",
        "operationId": "create-draft-in-current--sub-account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"_data\": {\n    \"draftId\": 14599,\n    \"createdOn\": 1416225457,\n    \"createdBy\": {\n      \"id\": 1,\n      \"name\": \"Backend Testing\"\n    },\n    \"newCampaignName\": \"Campaign 142\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "object",
                      "properties": {
                        "draftId": {
                          "type": "integer",
                          "example": 14599,
                          "default": 0
                        },
                        "createdOn": {
                          "type": "integer",
                          "example": 1416225457,
                          "default": 0
                        },
                        "createdBy": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "name": {
                              "type": "string",
                              "example": "Backend Testing"
                            }
                          }
                        },
                        "newCampaignName": {
                          "type": "string",
                          "example": "Campaign 142"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/accounts/{account_id}/campaigns/{campaign_id}/variations": {
      "post": {
        "summary": "Create a campaign variation",
        "description": "",
        "operationId": "create-a-campaign-variation",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          },
          {
            "name": "campaign_id",
            "in": "path",
            "description": "Campaign Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"_data\": {\n        \"id\": 3,\n        \"name\": \"New shiny variation\",\n        \"isControl\": false,\n        \"isDisabled\": false,\n        \"heatmapThumbUrl\": \"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-40505_7_3_calc-0.png\",\n        \"screenshots\": {\n            \"quick\": \"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/40505/7_3_8cf9ad535ba453c84abd4c38617f93b4.png\"\n        },\n        \"percentSplit\": 33.3333,\n        \"editorData\": {\n            \"stack\": null\n        }\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 3,
                          "default": 0
                        },
                        "name": {
                          "type": "string",
                          "example": "New shiny variation"
                        },
                        "isControl": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "isDisabled": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "heatmapThumbUrl": {
                          "type": "string",
                          "example": "//heatmap.visualwebsiteoptimizer.com/h/viswebopt-40505_7_3_calc-0.png"
                        },
                        "screenshots": {
                          "type": "object",
                          "properties": {
                            "quick": {
                              "type": "string",
                              "example": "//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/40505/7_3_8cf9ad535ba453c84abd4c38617f93b4.png"
                            }
                          }
                        },
                        "percentSplit": {
                          "type": "number",
                          "example": 33.3333,
                          "default": 0
                        },
                        "editorData": {
                          "type": "object",
                          "properties": {
                            "stack": {}
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Get all variations of a campaign",
        "description": "",
        "operationId": "get-all-the-variations-of-a-campaign",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          },
          {
            "name": "campaign_id",
            "in": "path",
            "description": "Campaign Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"_data\": [\n        {\n            \"id\": 1,\n            \"name\": \"Control\",\n            \"isControl\": true,\n            \"isDisabled\": false,\n            \"heatmapThumbUrl\": \"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-40505_7_1_calc-0.png\",\n            \"screenshots\": {\n                \"quick\": \"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/40505/7_1_8cf9ad535ba453c84abd4c38617f93b4.png\"\n            },\n            \"percentSplit\": 50,\n            \"editorData\": {\n                \"stack\": []\n            },\n            \"sectionId\": 1\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "Control"
                          },
                          "isControl": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "isDisabled": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "heatmapThumbUrl": {
                            "type": "string",
                            "example": "//heatmap.visualwebsiteoptimizer.com/h/viswebopt-40505_7_1_calc-0.png"
                          },
                          "screenshots": {
                            "type": "object",
                            "properties": {
                              "quick": {
                                "type": "string",
                                "example": "//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/40505/7_1_8cf9ad535ba453c84abd4c38617f93b4.png"
                              }
                            }
                          },
                          "percentSplit": {
                            "type": "integer",
                            "example": 50,
                            "default": 0
                          },
                          "editorData": {
                            "type": "object",
                            "properties": {
                              "stack": {
                                "type": "array"
                              }
                            }
                          },
                          "sectionId": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/accounts/{account_id}/campaigns/{campaign_id}/sections": {
      "post": {
        "summary": "Create a campaign section",
        "description": "",
        "operationId": "create-a-campaign-section",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          },
          {
            "name": "campaign_id",
            "in": "path",
            "description": "Campaign Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"_data\": [\n        {\n            \"id\": 2,\n            \"name\": \"New shiny section\",\n            \"cssSelector\": \"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child\",\n            \"variations\": [\n                {\n                    \"id\": 1,\n                    \"name\": \"Control\",\n                    \"isControl\": true,\n                    \"isDisabled\": false,\n                    \"heatmapThumbUrl\": \"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_2905_1_calc-0.png\",\n                    \"screenshots\": {\n                        \"quick\": \"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/2905_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png\"\n                    },\n                    \"editorData\": {\n                        \"stack\": []\n                    }\n                }\n            ]\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 2,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "New shiny section"
                          },
                          "cssSelector": {
                            "type": "string",
                            "example": "DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child"
                          },
                          "variations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "example": 1,
                                  "default": 0
                                },
                                "name": {
                                  "type": "string",
                                  "example": "Control"
                                },
                                "isControl": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                },
                                "isDisabled": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                },
                                "heatmapThumbUrl": {
                                  "type": "string",
                                  "example": "//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_2905_1_calc-0.png"
                                },
                                "screenshots": {
                                  "type": "object",
                                  "properties": {
                                    "quick": {
                                      "type": "string",
                                      "example": "//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/2905_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png"
                                    }
                                  }
                                },
                                "editorData": {
                                  "type": "object",
                                  "properties": {
                                    "stack": {
                                      "type": "array"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Get all sections of a campaign",
        "description": "",
        "operationId": "get-all-the-sections-of-a-campaign",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          },
          {
            "name": "campaign_id",
            "in": "path",
            "description": "Campaign Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"_data\": [\n        {\n            \"id\": 1,\n            \"name\": \"Baja Baja\",\n            \"cssSelector\": \"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child\",\n            \"variations\": [\n                {\n                    \"id\": 1,\n                    \"name\": \"Control\",\n                    \"isControl\": true,\n                    \"isDisabled\": false,\n                    \"heatmapThumbUrl\": \"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_2905_1_calc-0.png\",\n                    \"screenshots\": {\n                        \"quick\": \"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/2905_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png\"\n                    },\n                    \"editorData\": {\n                        \"stack\": []\n                    }\n                }\n            ]\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "Baja Baja"
                          },
                          "cssSelector": {
                            "type": "string",
                            "example": "DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child"
                          },
                          "variations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "example": 1,
                                  "default": 0
                                },
                                "name": {
                                  "type": "string",
                                  "example": "Control"
                                },
                                "isControl": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                },
                                "isDisabled": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                },
                                "heatmapThumbUrl": {
                                  "type": "string",
                                  "example": "//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_2905_1_calc-0.png"
                                },
                                "screenshots": {
                                  "type": "object",
                                  "properties": {
                                    "quick": {
                                      "type": "string",
                                      "example": "//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/2905_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png"
                                    }
                                  }
                                },
                                "editorData": {
                                  "type": "object",
                                  "properties": {
                                    "stack": {
                                      "type": "array"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/accounts/{account_id}/campaigns/{campaign_id}/sections/{section_id}": {
      "get": {
        "summary": "Get details of a specific campaign section",
        "description": "",
        "operationId": "get-details-of-a-specific-campaign-section",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          },
          {
            "name": "campaign_id",
            "in": "path",
            "description": "Campaign Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "section_id",
            "in": "path",
            "description": "Section Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"_data\": {\n        \"id\": 1,\n        \"name\": \"Baja Baja\",\n        \"cssSelector\": \"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child\",\n        \"variations\": [\n            {\n                \"id\": 1,\n                \"name\": \"Control\",\n                \"isControl\": true,\n                \"isDisabled\": false,\n                \"heatmapThumbUrl\": \"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_2905_1_calc-0.png\",\n                \"screenshots\": {\n                    \"quick\": \"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/2905_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png\"\n                },\n                \"editorData\": {\n                    \"stack\": []\n                }\n            }\n        ]\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "name": {
                          "type": "string",
                          "example": "Baja Baja"
                        },
                        "cssSelector": {
                          "type": "string",
                          "example": "DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child"
                        },
                        "variations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "name": {
                                "type": "string",
                                "example": "Control"
                              },
                              "isControl": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "isDisabled": {
                                "type": "boolean",
                                "example": false,
                                "default": true
                              },
                              "heatmapThumbUrl": {
                                "type": "string",
                                "example": "//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_2905_1_calc-0.png"
                              },
                              "screenshots": {
                                "type": "object",
                                "properties": {
                                  "quick": {
                                    "type": "string",
                                    "example": "//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/2905_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png"
                                  }
                                }
                              },
                              "editorData": {
                                "type": "object",
                                "properties": {
                                  "stack": {
                                    "type": "array"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "summary": "Update a campaign section",
        "description": "",
        "operationId": "update-a-campaign-section",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          },
          {
            "name": "campaign_id",
            "in": "path",
            "description": "Campaign Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "section_id",
            "in": "path",
            "description": "Section Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"_data\": {\n        \"id\": 1,\n        \"name\": \"New name\",\n        \"cssSelector\": \"DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child\",\n        \"variations\": [\n            {\n                \"id\": 1,\n                \"name\": \"Control\",\n                \"isControl\": true,\n                \"isDisabled\": false,\n                \"heatmapThumbUrl\": \"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_2905_1_calc-0.png\",\n                \"screenshots\": {\n                    \"quick\": \"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/2905_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png\"\n                },\n                \"editorData\": {\n                    \"stack\": []\n                }\n            }\n        ]\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "name": {
                          "type": "string",
                          "example": "New name"
                        },
                        "cssSelector": {
                          "type": "string",
                          "example": "DIV#js-header-fixed-trigger + SECTION > DIV:first-child > DIV:first-child > DIV:first-child"
                        },
                        "variations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "name": {
                                "type": "string",
                                "example": "Control"
                              },
                              "isControl": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "isDisabled": {
                                "type": "boolean",
                                "example": false,
                                "default": true
                              },
                              "heatmapThumbUrl": {
                                "type": "string",
                                "example": "//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_2905_1_calc-0.png"
                              },
                              "screenshots": {
                                "type": "object",
                                "properties": {
                                  "quick": {
                                    "type": "string",
                                    "example": "//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/2905_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png"
                                  }
                                }
                              },
                              "editorData": {
                                "type": "object",
                                "properties": {
                                  "stack": {
                                    "type": "array"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete a campaign section",
        "description": "",
        "operationId": "delete-a-campaign-section",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          },
          {
            "name": "campaign_id",
            "in": "path",
            "description": "Campaign Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "section_id",
            "in": "path",
            "description": "Section Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/accounts/{account_id}/campaigns/{campaign_id}/labels": {
      "get": {
        "summary": "Get labels of a specific campaign",
        "description": "",
        "operationId": "get-all-the-labels-associated-with-a-campaign",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          },
          {
            "name": "campaign_id",
            "in": "path",
            "description": "Campaign Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"_data\": [\n        {\n            \"id\": 1,\n            \"name\": \"Demo\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "Demo"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Add labels to a campaign",
        "description": "",
        "operationId": "add-labels-to-a-campaign",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          },
          {
            "name": "campaign_id",
            "in": "path",
            "description": "Campaign Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"_data\": [\n        {\n            \"id\": 1,\n            \"name\": \"Demo\"\n        },\n        {\n            \"id\": 2,\n            \"name\": \"Real\"\n        },\n        {\n            \"id\": 4,\n            \"name\": \"New shiny label\"\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "Demo"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/accounts/{account_id}/campaigns/{campaign_id}": {
      "patch": {
        "summary": "Update a campaign",
        "description": "",
        "operationId": "update-a-campaign",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          },
          {
            "name": "campaign_id",
            "in": "path",
            "description": "Campaign Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"_data\": {\n    \"id\": 15,\n    \"name\": \"New name\",\n    \"type\": \"ab\",\n    \"status\": \"NOT_STARTED\",\n    \"createdOn\": 1472631589,\n    \"labels\": [],\n    \"percentTraffic\": 100,\n    \"createdBy\": {\n      \"id\": 40505,\n      \"name\": \"Sample\",\n      \"imageUrl\": \"*****\"\n    },\n    \"urls\": [\n      {\n        \"type\": \"url\",\n        \"value\": \"http://wingify.com\"\n      }\n    ],\n    \"excludedUrls\": [],\n    \"primaryUrl\": \"http://wingify.com\",\n    \"integrations\": {\n      \"ga\": {\n        \"enabled\": false,\n        \"slot\": 4,\n        \"prefix\": \"\"\n      },\n      \"clicktale\": {\n        \"enabled\": false\n      },\n      \"ua\": {\n        \"enabled\": false,\n        \"dimension\": 1,\n        \"prefix\": \"\"\n      },\n      \"gtm\": {\n        \"enabled\": false\n      }\n    },\n    \"thresholds\": {\n      \"winningPercent\": 0.95,\n      \"losingPercent\": 0.05,\n      \"visitors\": 20\n    },\n    \"device\": \"desktop\",\n    \"variations\": [\n      {\n        \"id\": 1,\n        \"name\": \"Control\",\n        \"isControl\": true,\n        \"isDisabled\": false,\n        \"heatmapThumbUrl\": \"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_257_1_calc-0.png\",\n        \"screenshots\": {\n          \"quick\": \"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/257_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png\"\n        },\n        \"percentSplit\": 100,\n        \"editorData\": {\n          \"stack\": null\n        },\n        \"isBase\": true\n      }\n    ],\n    \"goals\": [\n      {\n        \"id\": 1,\n        \"isPrimary\": true,\n        \"name\": \"New goal\",\n        \"excludedUrls\": [],\n        \"isCreatedInEditor\": false,\n        \"type\": \"visitPage\",\n        \"urls\": [\n          {\n            \"type\": \"url\",\n            \"value\": \"http://wingify.com\"\n          }\n        ],\n        \"averageData\": []\n      }\n    ],\n    \"dataIntervalRange\": [],\n    \"variationGoalData\": [],\n    \"schedules\": [],\n    \"stats\": {\n      \"conversionRate\": \"0.05\",\n      \"liftInConversionRate\": \"0.05\",\n      \"certaintyMode\": \"0.01\",\n      \"expectedMonthlyVisitors\": 300000,\n      \"expectedRevenuePerVisitor\": \"2\"\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 15,
                          "default": 0
                        },
                        "name": {
                          "type": "string",
                          "example": "New name"
                        },
                        "type": {
                          "type": "string",
                          "example": "ab"
                        },
                        "status": {
                          "type": "string",
                          "example": "NOT_STARTED"
                        },
                        "createdOn": {
                          "type": "integer",
                          "example": 1472631589,
                          "default": 0
                        },
                        "labels": {
                          "type": "array"
                        },
                        "percentTraffic": {
                          "type": "integer",
                          "example": 100,
                          "default": 0
                        },
                        "createdBy": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 40505,
                              "default": 0
                            },
                            "name": {
                              "type": "string",
                              "example": "Sample"
                            },
                            "imageUrl": {
                              "type": "string",
                              "example": "*****"
                            }
                          }
                        },
                        "urls": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "url"
                              },
                              "value": {
                                "type": "string",
                                "example": "http://wingify.com"
                              }
                            }
                          }
                        },
                        "excludedUrls": {
                          "type": "array"
                        },
                        "primaryUrl": {
                          "type": "string",
                          "example": "http://wingify.com"
                        },
                        "integrations": {
                          "type": "object",
                          "properties": {
                            "ga": {
                              "type": "object",
                              "properties": {
                                "enabled": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                },
                                "slot": {
                                  "type": "integer",
                                  "example": 4,
                                  "default": 0
                                },
                                "prefix": {
                                  "type": "string",
                                  "example": ""
                                }
                              }
                            },
                            "clicktale": {
                              "type": "object",
                              "properties": {
                                "enabled": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                }
                              }
                            },
                            "ua": {
                              "type": "object",
                              "properties": {
                                "enabled": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                },
                                "dimension": {
                                  "type": "integer",
                                  "example": 1,
                                  "default": 0
                                },
                                "prefix": {
                                  "type": "string",
                                  "example": ""
                                }
                              }
                            },
                            "gtm": {
                              "type": "object",
                              "properties": {
                                "enabled": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                }
                              }
                            }
                          }
                        },
                        "thresholds": {
                          "type": "object",
                          "properties": {
                            "winningPercent": {
                              "type": "number",
                              "example": 0.95,
                              "default": 0
                            },
                            "losingPercent": {
                              "type": "number",
                              "example": 0.05,
                              "default": 0
                            },
                            "visitors": {
                              "type": "integer",
                              "example": 20,
                              "default": 0
                            }
                          }
                        },
                        "device": {
                          "type": "string",
                          "example": "desktop"
                        },
                        "variations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "name": {
                                "type": "string",
                                "example": "Control"
                              },
                              "isControl": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "isDisabled": {
                                "type": "boolean",
                                "example": false,
                                "default": true
                              },
                              "heatmapThumbUrl": {
                                "type": "string",
                                "example": "//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_257_1_calc-0.png"
                              },
                              "screenshots": {
                                "type": "object",
                                "properties": {
                                  "quick": {
                                    "type": "string",
                                    "example": "//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/257_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png"
                                  }
                                }
                              },
                              "percentSplit": {
                                "type": "integer",
                                "example": 100,
                                "default": 0
                              },
                              "editorData": {
                                "type": "object",
                                "properties": {
                                  "stack": {}
                                }
                              },
                              "isBase": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              }
                            }
                          }
                        },
                        "goals": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "isPrimary": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "name": {
                                "type": "string",
                                "example": "New goal"
                              },
                              "excludedUrls": {
                                "type": "array"
                              },
                              "isCreatedInEditor": {
                                "type": "boolean",
                                "example": false,
                                "default": true
                              },
                              "type": {
                                "type": "string",
                                "example": "visitPage"
                              },
                              "urls": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "url"
                                    },
                                    "value": {
                                      "type": "string",
                                      "example": "http://wingify.com"
                                    }
                                  }
                                }
                              },
                              "averageData": {
                                "type": "array"
                              }
                            }
                          }
                        },
                        "dataIntervalRange": {
                          "type": "array"
                        },
                        "variationGoalData": {
                          "type": "array"
                        },
                        "schedules": {
                          "type": "array"
                        },
                        "stats": {
                          "type": "object",
                          "properties": {
                            "conversionRate": {
                              "type": "string",
                              "example": "0.05"
                            },
                            "liftInConversionRate": {
                              "type": "string",
                              "example": "0.05"
                            },
                            "certaintyMode": {
                              "type": "string",
                              "example": "0.01"
                            },
                            "expectedMonthlyVisitors": {
                              "type": "integer",
                              "example": 300000,
                              "default": 0
                            },
                            "expectedRevenuePerVisitor": {
                              "type": "string",
                              "example": "2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Get details of a specific campaign",
        "description": "",
        "operationId": "get-details-of-a-specific-campaign",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          },
          {
            "name": "campaign_id",
            "in": "path",
            "description": "Campaign Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"_data\": {\n    \"id\": 7,\n    \"name\": \"Campaign 7\",\n    \"type\": \"ab\",\n    \"status\": \"NOT_STARTED\",\n    \"createdOn\": 1472036883,\n    \"labels\": [],\n    \"percentTraffic\": 100,\n    \"createdBy\": {\n      \"id\": 40505,\n      \"name\": \"Sample\",\n      \"imageUrl\": \"*****\"\n    },\n    \"urls\": [\n      {\n        \"type\": \"url\",\n        \"value\": \"http://wingify.com\"\n      }\n    ],\n    \"excludedUrls\": [],\n    \"primaryUrl\": \"http://wingify.com\",\n    \"integrations\": {\n      \"ga\": {\n        \"enabled\": false,\n        \"slot\": 4,\n        \"prefix\": \"\"\n      },\n      \"clicktale\": {\n        \"enabled\": false\n      },\n      \"ua\": {\n        \"enabled\": false,\n        \"dimension\": 1,\n        \"prefix\": \"\"\n      },\n      \"gtm\": {\n        \"enabled\": false\n      }\n    },\n    \"thresholds\": {\n      \"winningPercent\": 0.95,\n      \"losingPercent\": 0.05,\n      \"visitors\": 20\n    },\n    \"device\": \"desktop\",\n    \"variations\": [\n      {\n        \"id\": 1,\n        \"name\": \"Control\",\n        \"isControl\": true,\n        \"isDisabled\": false,\n        \"heatmapThumbUrl\": \"//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_256_1_calc-0.png\",\n        \"screenshots\": {\n          \"quick\": \"//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/256_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png\"\n        },\n        \"percentSplit\": 100,\n        \"editorData\": {\n          \"stack\": null\n        },\n        \"isBase\": true\n      }\n    ],\n    \"goals\": [\n      {\n        \"id\": 1,\n        \"isPrimary\": true,\n        \"name\": \"New goal\",\n        \"excludedUrls\": [],\n        \"isCreatedInEditor\": false,\n        \"type\": \"visitPage\",\n        \"urls\": [\n          {\n            \"type\": \"url\",\n            \"value\": \"http://wingify.com\"\n          }\n        ],\n        \"averageData\": []\n      }\n    ],\n    \"dataIntervalRange\": [],\n    \"variationGoalData\": [],\n    \"schedules\": [],\n    \"isCrossDomainEnabled\": false,\n    \"stats\": {\n      \"conversionRate\": \"0.05\",\n      \"liftInConversionRate\": \"0.05\",\n      \"certaintyMode\": \"0.01\",\n      \"expectedMonthlyVisitors\": 300000,\n      \"expectedRevenuePerVisitor\": \"2\"\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 7,
                          "default": 0
                        },
                        "name": {
                          "type": "string",
                          "example": "Campaign 7"
                        },
                        "type": {
                          "type": "string",
                          "example": "ab"
                        },
                        "status": {
                          "type": "string",
                          "example": "NOT_STARTED"
                        },
                        "createdOn": {
                          "type": "integer",
                          "example": 1472036883,
                          "default": 0
                        },
                        "labels": {
                          "type": "array"
                        },
                        "percentTraffic": {
                          "type": "integer",
                          "example": 100,
                          "default": 0
                        },
                        "createdBy": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 40505,
                              "default": 0
                            },
                            "name": {
                              "type": "string",
                              "example": "Sample"
                            },
                            "imageUrl": {
                              "type": "string",
                              "example": "*****"
                            }
                          }
                        },
                        "urls": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "url"
                              },
                              "value": {
                                "type": "string",
                                "example": "http://wingify.com"
                              }
                            }
                          }
                        },
                        "excludedUrls": {
                          "type": "array"
                        },
                        "primaryUrl": {
                          "type": "string",
                          "example": "http://wingify.com"
                        },
                        "integrations": {
                          "type": "object",
                          "properties": {
                            "ga": {
                              "type": "object",
                              "properties": {
                                "enabled": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                },
                                "slot": {
                                  "type": "integer",
                                  "example": 4,
                                  "default": 0
                                },
                                "prefix": {
                                  "type": "string",
                                  "example": ""
                                }
                              }
                            },
                            "clicktale": {
                              "type": "object",
                              "properties": {
                                "enabled": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                }
                              }
                            },
                            "ua": {
                              "type": "object",
                              "properties": {
                                "enabled": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                },
                                "dimension": {
                                  "type": "integer",
                                  "example": 1,
                                  "default": 0
                                },
                                "prefix": {
                                  "type": "string",
                                  "example": ""
                                }
                              }
                            },
                            "gtm": {
                              "type": "object",
                              "properties": {
                                "enabled": {
                                  "type": "boolean",
                                  "example": false,
                                  "default": true
                                }
                              }
                            }
                          }
                        },
                        "thresholds": {
                          "type": "object",
                          "properties": {
                            "winningPercent": {
                              "type": "number",
                              "example": 0.95,
                              "default": 0
                            },
                            "losingPercent": {
                              "type": "number",
                              "example": 0.05,
                              "default": 0
                            },
                            "visitors": {
                              "type": "integer",
                              "example": 20,
                              "default": 0
                            }
                          }
                        },
                        "device": {
                          "type": "string",
                          "example": "desktop"
                        },
                        "variations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "name": {
                                "type": "string",
                                "example": "Control"
                              },
                              "isControl": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "isDisabled": {
                                "type": "boolean",
                                "example": false,
                                "default": true
                              },
                              "heatmapThumbUrl": {
                                "type": "string",
                                "example": "//heatmap.visualwebsiteoptimizer.com/h/viswebopt-1_256_1_calc-0.png"
                              },
                              "screenshots": {
                                "type": "object",
                                "properties": {
                                  "quick": {
                                    "type": "string",
                                    "example": "//s3.amazonaws.com/wfyss.visualwebsiteoptimizer.com/1/256_1_c9dd0f600be0b9fc8490bcd85ae0f95d.png"
                                  }
                                }
                              },
                              "percentSplit": {
                                "type": "integer",
                                "example": 100,
                                "default": 0
                              },
                              "editorData": {
                                "type": "object",
                                "properties": {
                                  "stack": {}
                                }
                              },
                              "isBase": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              }
                            }
                          }
                        },
                        "goals": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "isPrimary": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "name": {
                                "type": "string",
                                "example": "New goal"
                              },
                              "excludedUrls": {
                                "type": "array"
                              },
                              "isCreatedInEditor": {
                                "type": "boolean",
                                "example": false,
                                "default": true
                              },
                              "type": {
                                "type": "string",
                                "example": "visitPage"
                              },
                              "urls": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "url"
                                    },
                                    "value": {
                                      "type": "string",
                                      "example": "http://wingify.com"
                                    }
                                  }
                                }
                              },
                              "averageData": {
                                "type": "array"
                              }
                            }
                          }
                        },
                        "dataIntervalRange": {
                          "type": "array"
                        },
                        "variationGoalData": {
                          "type": "array"
                        },
                        "schedules": {
                          "type": "array"
                        },
                        "isCrossDomainEnabled": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "stats": {
                          "type": "object",
                          "properties": {
                            "conversionRate": {
                              "type": "string",
                              "example": "0.05"
                            },
                            "liftInConversionRate": {
                              "type": "string",
                              "example": "0.05"
                            },
                            "certaintyMode": {
                              "type": "string",
                              "example": "0.01"
                            },
                            "expectedMonthlyVisitors": {
                              "type": "integer",
                              "example": 300000,
                              "default": 0
                            },
                            "expectedRevenuePerVisitor": {
                              "type": "string",
                              "example": "2"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/accounts/{account_id}/campaigns/{campaign_id}/labels/{label_id}": {
      "delete": {
        "summary": "Delete a campaign label",
        "description": "",
        "operationId": "delete-a-campaign-label",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          },
          {
            "name": "campaign_id",
            "in": "path",
            "description": "Campaign Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "label_id",
            "in": "path",
            "description": "Label Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/accounts/{account_id}": {
      "get": {
        "summary": "Retrieve specific workspace",
        "description": "",
        "operationId": "get-current-account-information",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Workspace or the Integer Workspace Id",
            "required": true,
            "schema": {
              "type": "string",
              "default": "current"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"_data\": {\n    \"id\": 1,\n    \"name\": \"Main Account\",\n    \"createdOn\": 1257680705,\n    \"timezone\": \"Asia\\/Dhaka\",\n    \"company\": {\n      \"name\": \"\",\n      \"website\": \"\",\n      \"size\": \"\"\n    },\n    \"enabled\": true\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "name": {
                          "type": "string",
                          "example": "Main Account"
                        },
                        "createdOn": {
                          "type": "integer",
                          "example": 1257680705,
                          "default": 0
                        },
                        "timezone": {
                          "type": "string",
                          "example": "Asia/Dhaka"
                        },
                        "company": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": ""
                            },
                            "website": {
                              "type": "string",
                              "example": ""
                            },
                            "size": {
                              "type": "string",
                              "example": ""
                            }
                          }
                        },
                        "enabled": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "summary": "Update workspace",
        "description": "",
        "operationId": "update-account-information",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Use 'current' keyword to refer to the Main Account or the Integer Sub Account Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Workspace Name"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Timezone associated with the Workspace e.g. \\\"Asia\\/Kolkata\\\""
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Disable/Enable Workspace"
                  },
                  "company": {
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Company name associated with the Workspace"
                      },
                      "website": {
                        "type": "string",
                        "description": "Website URL of the Company, if any"
                      },
                      "size": {
                        "type": "string",
                        "description": "Choose among these options [\"1-200\",\"201-500\",\"501-1000\",\"1001-2000\",\"2000+\"]"
                      },
                      "industry": {
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Industry Type of the Company"
                          }
                        },
                        "required": [],
                        "type": "object"
                      }
                    },
                    "required": [],
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"_data\": {\n    \"name\": \"API Account Name\",\n    \"timezone\": \"Asia\\/Kolkata\",\n    \"enabled\": true,\n    \"company\": {\n      \"name\": \"API Company Name\",\n      \"website\": \"http:\\/\\/wingify.com\",\n      \"size\": \"1-200\",\n      \"industry\": {\n        \"type\": \"saas\"\n      }\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "_data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "API Account Name"
                        },
                        "timezone": {
                          "type": "string",
                          "example": "Asia/Kolkata"
                        },
                        "enabled": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        },
[...]
